<div>
  <link href="./max-width.css" rel="stylesheet" />
  <div class="max-width-max-width max-content-container">
    <div class="max-width-heading-container">
      <h2 class="max-width-text heading2">
        <span>Grow Your Business with</span>
        <span class="max-width-text2">ezeBytes.</span>
      </h2>
      <span class="content-Light">
        <span>
          If your business getting ready to go online or facing difficulty, get
          in touch to us and get your quote now.
        </span>
      </span>
    </div>
    <div class="max-width-cards-container">
      <div class="grid-card-grid-card">
        <img
          alt="image"
          src="public/playground_assets/digital-marketing-200w.png"
          loading="lazy"
          class="grid-card-image"
        />
        <span class="grid-card-text"><span>Digital Marketing</span></span>
        <span class="grid-card-text1 content-Light">
          <span>Take your business online and generate more Lead.</span>
        </span>
      </div>
      <div class="grid-card-grid-card">
        <img
          alt="image"
          src="public/playground_assets/software-icon-200h.png"
          loading="lazy"
          class="grid-card-image"
        />
        <span class="grid-card-text"><span>Softwares</span></span>
        <span class="grid-card-text1 content-Light">
          <span>
            Get your business automated with custom softwares designed for your
            business
          </span>
        </span>
      </div>
      <div class="grid-card-grid-card">
        <img
          alt="image"
          src="public/playground_assets/live-chat-200h.png"
          loading="lazy"
          class="grid-card-image"
        />
        <span class="grid-card-text"><span>LiveChat Assistant</span></span>
        <span class="grid-card-text1 content-Light">
          <span>
            Get a human chat assistant for your business to answer queries of
            your clients and also to generate lead
          </span>
        </span>
      </div>
      <div class="grid-card-grid-card">
        <img
          alt="image"
          src="public/playground_assets/web-mobile-200h.png"
          loading="lazy"
          class="grid-card-image"
        />
        <span class="grid-card-text"><span>Mobile & Web</span></span>
        <span class="grid-card-text1 content-Light">
          <span>
            Get website or mobile app for your business in Android, iOS or both.
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
