<div>
  <link href="./section-two.css" rel="stylesheet" />
  <div class="section-two-section-two section-container">
    <div class="section-two-max-width max-content-container">
      <div class="section-two-image-container">
        <img
          alt="image"
          src="public/playground_assets/section-image1-1200w.png"
          class="section-two-image"
        />
      </div>
      <div class="section-two-content-container">
        <h1 class="section-two-text heading2">
          <span>Your favorite articles at your fingertips.</span>
          <span class="section-two-text2">Always.</span>
        </h1>
        <span class="section-two-text3 content-Light">
          <span>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Velit officia
            consequat duis enim velit mollit.
          </span>
          <br />
          <span>Lorem ipsum dolor sit amet.</span>
        </span>
      </div>
    </div>
  </div>
</div>
