<div>
  <link href="./section-three.css" rel="stylesheet" />
  <div class="section-three-section-three section-container">
    <div class="section-three-max-width max-content-container">
      <div class="section-three-content-container">
        <h1 class="section-three-text heading2">
          <span>The best content, handpicked for you.</span>
          <span class="section-three-text2">In the morning.</span>
        </h1>
        <span class="section-three-text3 content-Light">
          <span>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Velit officia
            consequat duis enim velit mollit.
          </span>
          <br />
          <span>Lorem ipsum dolor sit amet.</span>
        </span>
      </div>
      <div class="section-three-image-container">
        <img
          alt="image"
          src="public/playground_assets/section-image2-1200w.png"
          class="section-three-image"
        />
      </div>
    </div>
  </div>
</div>
