.contact-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.contact-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-max-width {
  align-items: stretch;
}
.contact-content-container {
  flex: 1;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.contact-text {
  width: 90%;
  margin-bottom: 42px;
}
.contact-text01 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-text03 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-input-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.contact-button {
  display: flex;
  align-items: center;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
}
.contact-features-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-feature {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.contact-icon {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.contact-text05 {
  color: var(--dl-color-grays-gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.contact-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.contact-icon02 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.contact-text06 {
  color: var(--dl-color-grays-gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.contact-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-icon04 {
  fill: #62BF77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.contact-text07 {
  color: var(--dl-color-grays-gray60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.contact-image-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-image {
  width: 100%;
  max-width: 589px;
  object-fit: cover;
  margin-left: 45px;
}
.contact-section-one {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-max-width1 {
  flex-direction: column;
}
.contact-text08 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.contact-text10 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-text12 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-max-width2 {
  flex-direction: row;
  justify-content: flex-start;
}
.contact-image-container1 {
  flex: 1;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-image1 {
  width: 100%;
  max-width: 640px;
  object-fit: cover;
  margin-left: -100px;
}
.contact-content-container1 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-text14 {
  margin-bottom: 24px;
}
.contact-text16 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-text17 {
  color: var(--dl-color-grays-gray100);
}
.contact-max-width3 {
  flex-direction: row;
  justify-content: flex-start;
}
.contact-content-container2 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-text20 {
  margin-bottom: 24px;
}
.contact-text22 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-text23 {
  color: var(--dl-color-grays-gray100);
}
.contact-image-container2 {
  flex: 1;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.contact-image2 {
  width: 100%;
  object-fit: cover;
  margin-left: 85px;
}
.contact-section-four {
  padding-bottom: 0px;
}
.contact-max-width4 {
  flex-direction: column;
}
.contact-text26 {
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact-text28 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-text29 {
  color: transparent;
}
.contact-slider {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.5s;
  align-items: stretch;
  flex-direction: row;
}
.contact-max-width5 {
  flex-direction: column;
  justify-content: center;
}
.contact-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.contact-text30 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text33 {
  color: var(--dl-color-backgrounds-primary);
}
.contact-text36 {
  color: var(--dl-color-grays-gray100);
}
.contact-get-the-app {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
}
.contact-image3 {
  width: 151px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.contact-image4 {
  width: 151px;
  object-fit: cover;
}
.contact-cards-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.contact-section-six {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  background-color: var(--dl-color-backgrounds-primary);
}
.contact-max-width6 {
  align-items: stretch;
}
.contact-content-container3 {
  flex: 1;
  display: flex;
  min-width: 60%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-text38 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text40 {
  color: var(--dl-color-grays-white100);
}
.contact-text41 {
  color: var(--dl-color-grays-white80);
  margin-bottom: 36px;
}
.contact-input-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.contact-container1 {
  width: 100%;
  height: 56px;
  display: flex;
  max-width: 376px;
  align-items: center;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.contact-icon06 {
  fill: var(--dl-color-grays-gray40);
  width: 20px;
  height: 20px;
}
.contact-textinput {
  flex: 1;
  color: var(--dl-color-grays-gray40);
  border-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}
.contact-button1 {
  display: flex;
  transition: 0.3s;
  align-items: center;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: var(--dl-color-grays-dark100);
}
.contact-button1:hover {
  background-color: var(--dl-color-grays-white100);
}
.contact-features-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-feature3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.contact-icon08 {
  fill: var(--dl-color-grays-white100);
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.contact-text42 {
  color: var(--dl-color-grays-white80);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.contact-feature4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.contact-icon10 {
  fill: var(--dl-color-grays-white100);
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.contact-text43 {
  color: var(--dl-color-grays-white80);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.contact-feature5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-icon12 {
  fill: var(--dl-color-grays-white100);
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.contact-text44 {
  color: var(--dl-color-grays-white80);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.contact-image-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-image5 {
  width: 100%;
  max-width: 589px;
  min-width: 550px;
  object-fit: contain;
}
@media(max-width: 991px) {
  .contact-max-width {
    flex-direction: column;
  }
  .contact-content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .contact-text {
    width: 100%;
  }
  .contact-image {
    max-width: 100%;
    margin-left: 0px;
  }
  .contact-image1 {
    max-width: 100%;
    margin-left: 0px;
  }
  .contact-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .contact-text14 {
    width: 100%;
  }
  .contact-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .contact-text20 {
    width: 100%;
  }
  .contact-image2 {
    max-width: 100%;
    margin-left: 0px;
  }
  .contact-max-width6 {
    flex-direction: column;
  }
  .contact-text38 {
    width: 100%;
  }
  .contact-image5 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-text08 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact-max-width2 {
    flex-direction: column;
  }
  .contact-image-container1 {
    width: 100%;
    margin-right: 0px;
  }
  .contact-image1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-content-container1 {
    max-width: 100%;
  }
  .contact-max-width3 {
    flex-direction: column-reverse;
  }
  .contact-content-container2 {
    max-width: 100%;
  }
  .contact-image-container2 {
    width: 100%;
    margin-right: 0px;
  }
  .contact-image2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-text26 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-text30 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-cards-container1 {
    grid-template-columns: 1fr;
  }
  .contact-image5 {
    min-width: 100%;
  }
}
@media(max-width: 479px) {
  .contact-input-container {
    flex-direction: column;
  }
  .contact-cards-container {
    justify-content: center;
  }
  .contact-input-container1 {
    flex-direction: column;
  }
  .contact-container1 {
    max-width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
}
